body {
    background-color: #91a6ec;
    color: #434e72;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.btn {
    padding: 10px 20px;
    background-color: #434e72;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.btn:hover {
    background-color: #374266;
}
