body {
    background-color: #7dbbe7;
    color: #366c93;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1{
    color: #2a5472;
}


a{
    color: #366c93;
    text-decoration: none;
}

li:hover{
    color: #0b2a41;
}

a:hover{
    color: #0b2a41;
}